<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_dashboard_black_24dp"
        android:label="Course Hub"
        android:roundIcon="@drawable/ic_dashboard_black_24dp"
        android:supportsRtl="true"
        android:theme="@style/Theme.TextProject"
        tools:targetApi="26">
        <activity
            android:name=".ui.lesson_details.LessonDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".admin_ui.lessons.LessonsActivity"
            android:exported="false" />
        <activity
            android:name=".admin_ui.add_lesson.AddLessonActivity"
            android:exported="false" />
        <activity
            android:name=".ui.course_lessons.CourseLessonsActivity"
            android:exported="false" />
        <activity
            android:name=".admin_ui.add_course.AddCourseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.course_details.CourseDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".admin_ui.home.AdminHomeActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".ui.sign_up.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.sign_in.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>